.img-background {
  background-image: url("https://raw.githubusercontent.com/JoseLuria/ip-address-tracker/main/src/assets/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
}

@media(min-width: 768px) {
  .img-background {
    height: 280px;
  } 
}